.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  width: 100%;
  max-width: 100%;
}

.addRow {
  color: #9e9e9e;
  padding: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  border-bottom: 0;
}

.addRow:hover {
  background-color: #f5f5f5;
}

.removeRow {
  color: #9e9e9e;
  padding: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  text-align: center;
}

.removeRow:hover {
  background-color: #f5f5f5;
}

.editableInput {
  min-height: 38px;
  width: 100%;
  border-style: none;
}

.createdAt {
  color: #7e7e7e;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}
